<h1>Welcome to Sequelize + Express + Postgres Association 1 to M</h1>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/teachers">Teachers</a></li>
  <li role="presentation"><a href="/students">Students</a></li>
  <li role="presentation"><a href="/subjects">Subjects</a></li>
</ul>
<hr>
