<html>
  <body>

    <h1>Add Subject Data</h1>

      <form action="/subjects/add" method="post" >
        Name:<br>
        <input type="text" name="subject_name">
        <br><br>
        <input type="submit" value="Submit">
      </form>

  </body>
</html>
