<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>subject add</title>
</head>
<body>
  <br>
  <form action="/subject/add" method="post">
    <fieldset>
        <legend><h2>Subject Insert</h2></legend>
        Name:<br>
        <input type="text" name="name"><br>
        <input type="submit">
    </fieldset>
  </form>
</body>
</html>