<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express CRUD</title>
</head>
<style>
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
  <h2>Subject Data</h2>
  <hr>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
    <% subjects.forEach(function(subject){ %>
        <tr>
          <td><%- subject.name %></td>
          <td>
            <% if (subject.Teachers.length > 0) { %>
              <% let number = 1 %>
              <% subject.Teachers.forEach(function(teacher){ %>
                <%- `${number}. ${teacher.firstName} ${teacher.lastName}<br>` %>
                <% number++ %>
              <% }); %>
            <% } else { %>
              -
            <% } %>
          </td>
          <td><a href="/subject/delete/<%= subject.id %>" onclick="return confirm('Delete this data?')">Delete</a></td>
          <td><a href="/subject/update/<%= subject.id %>">Edit</a></td>
        </tr>
    <% }); %>
  </table>
  <br>
  <a href="/subject/add/">Add New Subject</a>
</body>
</html>