<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express CRUD</title>
</head>
<style>
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
  <form action="/subject/update/<%= subject.id %>" method="POST">
    <fieldset>
    <legend><h2>Subject Edit</h2></legend>
    Name:
    <input type="text" name="name" value="<%= subject.name %>"> <br/>
    <input type="submit" value="Submit">
    </fieldset>
  </form>
</body>
</html>