<html>
<head>
    <title>Add Subject</title>
</head>
<body>
    <h1 style="text-align: center">Add Subjects Data</h1>
    <a href="/subjects"><h3  style="text-align: center">show all data</h3></a>
    <form action="/subjects/add-subject" method="POST">
        Subject Name:<br>
        <input type="text" name="subject_name" style="width:50%">
        <br>
        <br>
        <input type="submit" value="Add Subject">
    </form>
</body>
</html>
