<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h1 style="text-align: center">Add Students Data</h1>
    <a href="/students"><h3  style="text-align: center">show all data</h3></a>
    <% if (err.message != 0) { %>
        <p style="color:red"> <%=err.message %>
    <% } %>
    <form action="/students/add-student" method="POST">
        First Name:<br>
        <input type="text" name="first_name" style="width:50%">
        <br>
        Last Name:<br>
        <input type="text" name="last_name" style="width:50%">
        <br>
        Email:<br>
        <input type="text" name="email" style="width:50%">
        <br>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>
