<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add Teacher</title>
    </head>
    <body>
        <h1>Add Teacher</h1>
        <a href="/teachers"> Teacher's List </a>
        <form action="/teachers/add" method=post>
            First Name: <br>
            <input type="text" name="firstName" value=""><br>
            Last Name: <br>
            <input type="text" name="lastName" value=""><br>
            Email: <br>
            <input type="text" name="email" value=""><br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>