<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST">
      First name:<br>
      <input type="text" name="first_name">
      <br>
      Last name:<br>
      <input type="text" name="last_name"><br>
      email:<br>
      <input type="text" name="email">
      <br><br>
      <input type="submit" value="add student">
    </form>
  </body>
</html>
