<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>
  WELCOME TO SCHOOL
</title>
<head>
</head>
<body class="container">

<header>
</header>

<main>
    <div class="jumbotron">
        <h1>WELCOME TO SCHOOL IN INDONESIA</h1>
        <p>Express,Sequelize, using template engine EJS</p>
        <h3>
          <a href = "/teacher"> Teachers</a>
          <a href = "/subject"> Subjects</a>
          <a href = "/student"> Students</a>
        </h3>
    </div>
</main>

<footer>
</footer>

</body>
</html>
