<html>
<head>
    <title>Edit Subject</title>
</head>
<body>
    <h1 style="text-align: center">Edit Subject Data</h1>
    <a href="/subjects"><h3  style="text-align: center">show all data</h3></a>
    <form action="/subjects/edit-subject/<%= subject_data.id%>" method="POST">
        subject name:<br>
        <input type="text" name="subject_name" style="width:50%" value="<%= subject_data.subject_name%>">
        <br>
        <input type="submit" value="Edit subject">
    </form>
</body>
</html>
