<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject Register</title>
  </head>
  <body>
    <h1>Register Form</h1>
    <h3><a href="/subject">show all subject</a></h3>
    <form action="/subject/add" method="POST">
      <p>Subject Name:</p>
      <input type="text" name="subject_name" value=""><br>
      <input type="submit" onclick="alert('New Subject Added')" value="Add Subject">
    </form>
  </body>
</html>
