<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Add Teachers Data</title>
  </head>
  <body>
    <h1>Add Teachers Data</h1>
    <form action="/teachers/add" method="post">
      First name:<br>
      <input type="text" name="firstName">
      <br>
      Last name:<br>
      <input type="text" name="lastName" >
      <br>Email:<br>
      <input type="text" name="email">
      <br>
      <input type="submit" value="Submit">
  </body>
</html>
