<html>

   <head>
      <title>Suzuran Senior High School</title>
   </head>

   <body>
      <h2>Welcome to Suzuran.</h2>
      <div>
        <p>Suzuran All Boys High School's history is filled with fighting, internally and externally, spanning over generations it has a high reputation as the ultimate delinquent school with only the worst of the worst entering their freshmen year and only the strongest of the strong sitting at it's top. It was also infamous for never having a single man rule the entire school, always having multiple faction heads at a time who tend to war with  each other for control, just the same the students are known for uniting when they all have a common threat to overcome. Aside from their internal conflicts Suzuran has many enemies, including The Front of Armament, Housen Academy, The Kurotaki Alliance, Rindow High and the Manji Empire. The factions at Suzuran go back as far as the Umehoshi Brothers years at Suzuran even then they were constantly at war with each other, but more so with their rival school Housen. Suzuran is infamous for being undefeated around Toarushi, and it's reputation has even spread overseas.</p>
        <p>Suzuran High is dominated by a strength hierarchy, the strongest student stands above all. Over the years the school has had many legendary men stand at the top of Suzuran as it's strongest fighter. This status is usually gained by the student who wins the First Year War and fights their way to conquering the school or by defeating the man who stands at the top of Suzuran. However transfer students with unknown potential are frequent.
            Before Tsukishima Hana, not a single student had ever completely unified Suzuran High under his name. This is usually because of the multiple factions that operate  opposite of  whomever sits at the top of Suzuran or their respective faction. On rare occasions Suzuran's strongest will isolate himself from the rest of the school factions. Usually they decide against creating a group because they view the conquering of Suzuran as trivial.
            Students who lack the desire to participate in the school's hierarchy are dubbed lone wolves, but their strength is still acknowledged regardless of social standing.Depending on the individual, their strength is a source of inspiration or fear to the students at Suzuran.</p>
      </div>
       <a href="/teachers"><h3>Teachers</h3></a>
       <a href="/students"><h3>student</h3></a>

   </body>

</html>
