<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HOMEPAGE</h1>
    <ul>
      <li> <a href="/teachers">Teachers</a> </li>
    </ul>
  </body>
</html>
