<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <% include ./partials/header %>
      <div class="jumbotron">
        <h2>Welcome to Sequelize + Express + Postgres Association 1 to M</h2>
        <p>- AFIF - Hacktiv8 - Week4 - Monday -
          <p>
      </div>
  </div>

</body>

<footer>
  <% include ./partials/footer %>
</footer>

</html>
