<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hompage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <div class="text-center"><h1 class="p-3 mb-2 bg-primary text-white">Welcome to Hompage</h1></div>
  <br>
  <h2 class="text-center"><a href="students" class="btn btn-primary">Student</a> <a href="teachers" class="btn btn-primary">Teacher</a> <a href="subjects" class="btn btn-primary">Subject</a></h2>
</body>
</html>
