<!DOCTYPE html>
<html>
<head>
  <title>SchooL Database</title>
</head>
<body>
  <h1> School Database</h1>
	 <ul>
    <li><a href="/teachers">Teachers Database</a></li>
    <li><a href="/subjects">Subject Database</a></li>
   <ul>   
</body>
</html>
