<!DOCTYPE html>
<html>
  <head>
    <title>Edit Teacher List</title>
  </head>
  <body>
    <form method="post">
      first name: <br>
      <input name ="firstname" type="text" value= '<%=TeacherToUpdateEjs.first_name%>' placeholder="masukan nama depan"> <br>
      last name: <br>
      <input name ="lastname" type="text" value='<%=TeacherToUpdateEjs.last_name%>' placeholder="masukan nama belakang "><br>
      email: <br>
      <input name ="email"  type="text" value='<%=TeacherToUpdateEjs.email%>' placeholder="masukan email di sini">
      <br>
      <input type="submit" value="EDIT TEACHER">
    </form>
  </body>
</html>
