<html>
  <body>

    <h1>Add Student Data</h1>

      <form action="/students/add" method="post" >

        First name:<br>
        <input type="text" name="first_name">
        <br>

        Last name:<br>
        <input type="text" name="last_name">
        <br>

        Email:<br>
        <input type="text" name="email">
        <br><br>

        <input type="submit" value="Submit">
        
      </form>

  </body>
</html>
